<div class="tools features__block">
  <h2 class="tools__heading features__block-heading">
    Supercharge your workflow
  </h2>
  <p class="tools__content features__block-content">
    We’ve got the tools to boost your productivity.
  </p>

  <div class="grid features__block-grid">
    <section class="feature">
      <img src="./images/icon-blacklist.svg" alt="blacklist" />
      <h3 class="feature__heading">Create blacklists</h3>
      <p class="feature__content">
        Ensure sensitive information never makes its way to your clipboard by
        excluding certain sources.
      </p>
    </section>

    <section class="feature">
      <img src="./images/icon-text.svg" alt="blacklist" />
      <h3 class="feature__heading">Plain text snippets</h3>
      <p class="feature__content">
        Remove unwanted formatting from copied text for a consistent look.
      </p>
    </section>

    <section class="feature">
      <img src="./images/icon-preview.svg" alt="blacklist" />
      <h3 class="feature__heading">Sneak preview</h3>
      <p class="feature__content">
        Quick preview of all snippets on your Clipboard for easy access.
      </p>
    </section>
  </div>
</div>
