<footer class="footer__grid grid">
    <img src="./images/logo.svg" alt="Logo" class="footer__logo" />

    <ul class="footer__list">
      <li><a href="#">FAQs</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#"> Privacy Policy</a></li>
      <li><a href="#"> Press Kit</a></li>
      <li><a href="#">Install Guide</a></li>
    </ul>

    <ul class="font__icon">
      <li>
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </li>
    </ul>
  </footer>